.title {
  font-size: 22px;
  font-family: ui-monospace;
}
.todoContainer {
  padding: 60px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tableTitle {
  display: flex;
  justify-content: space-evenly
}