.tableItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .fieldBlock {
    display: grid;
  }
  input {
    height: 30px;
  }
}
.tableItemInput {
  border: none;
  background-color: white;
}
.actionButtons {
  display: flex;
  justify-content: center;
}