.container {
  padding: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .inputGroup {
    display: grid;
    margin: 0 5px;
    span {
      font-size: 12px;
    }
  }
}